{% extends 'base.html' %}

{% block content %}
<p> <progress value="6" max="10" ></progress>
<h1>QST 6</h1>
<h2>Какой американский рэпер недавно балотировался в президенты?</h2>
<form method="post">
    <textarea cols="40" rows="10" style="resize:none;" name=prog id="prog">{%if prog %}{{prog}}{% else %}{% endif%}</textarea>
    <p><button type="submit" class="button8">Тест</button>
</form>
<p><textarea cols="40" rows="5" style="resize:none;">{{ans}}</textarea>
{%if rez%}
<p>{{rez}}</p>
{% else %}
<p> </p>
{% endif %}
<p>{%if u_name and flag%}<a href="/page7" class="button8">Дальше</a>{%endif%}

{% endblock content %}
</body>